<?xml version="1.0" encoding="UTF-8"?>
<list>
<port>8080</port>
<bindip>true</bindip>
<address>192.168.1.169</address>
<encoding>ISO-8859-1</encoding>
<openWebUIOnStartup>false</openWebUIOnStartup>
<ConsoleGUI>true</ConsoleGUI>
<MaxLineBuffer>100</MaxLineBuffer>
<username>Admin</username>
<password>password</password>
<cleanTime>18000000</cleanTime>
<removepackages>36000000</removepackages>
</list>

