<?xml version="1.0" encoding="UTF-8" standalone="no"?><list>
<port>8080</port>
<bindip>false</bindip>
<address>127.0.0.1</address>
<remoteaddress>localhost</remoteaddress>
<encoding>ISO-8859-1</encoding>
<openWebUIOnStartup>true</openWebUIOnStartup>
<ConsoleGUI>true</ConsoleGUI>
<MaxLineBuffer>100</MaxLineBuffer>
<username>admin</username>
<password>password</password>
<cleanTime>18000000</cleanTime>
<removepackages>36000000</removepackages>
</list>